# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1
dvc==2.24.0
'dvc[s3]'
absl-py==1.2.0
aiohttp==3.8.1
aiohttp-retry==2.8.3
aiosignal==1.2.0
amqp==5.1.1
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
astunparse==1.6.3
async-timeout==4.0.2
asyncssh==2.12.0
atpublic==3.1.1
attrs==22.1.0
billiard==3.6.4.0
brotlipy==0.7.0
cached-property==1.5.2
cachetools==5.2.0
celery==5.2.7
certifi==2022.6.15.1
cffi==1.15.1
charset-normalizer==2.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.5
commonmark==0.9.1
conda==4.14.0
conda-package-handling==1.8.1
configobj==5.0.6
cryptography==37.0.4
dictdiffer==0.9.0
dill==0.3.5.1
diskcache==5.4.0
distlib==0.3.5
distro==1.7.0
dpath==2.0.6
dulwich==0.20.45
dvc==2.24.0
dvc-data==0.4.0
dvc-http==2.19.1
dvc-objects==0.2.0
dvc-render==0.0.9
dvc-task==0.1.2
dvclive==0.10.0
etils==0.8.0
filelock==3.8.0
flatbuffers==2.0.7
flatten-dict==0.4.2
flufl.lock==7.1.1
frozenlist==1.3.1
fsspec==2022.8.2
funcy==1.17
future==0.18.2
gast==0.5.3
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.11.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.4
grandalf==0.6
grpcio==1.48.1
h5py==3.6.0
hydra-core==1.2.0
idna==3.3
importlib-metadata==4.12.0
importlib-resources==5.9.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kombu==5.2.4
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.0
multidict==6.0.2
nanotime==0.5.2
networkx==2.8.6
numpy==1.22.4
oauthlib==3.2.1
omegaconf==2.2.3
opt-einsum==3.3.0
packaging==21.3
pathspec==0.9.0
pip==22.2.1
pipenv==2022.8.5
platformdirs==2.5.2
promise==2.3
prompt-toolkit==3.0.31
protobuf==3.20.2
psutil==5.9.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.21
pydot==1.4.2
pygit2==1.10.1
Pygments==2.13.0
pygtrie==2.5.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
PySocks==1.7.1
pytz==2022.2.1
PyYAML==6.0
requests==2.28.1
requests-oauthlib==1.3.1
rich==12.5.1
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
ruamel-yaml-conda==0.15.80
scmrepo==0.0.25
setuptools==63.2.0
shortuuid==1.0.9
shtab==1.5.5
six==1.16.0
smmap==5.0.0
src==0.1.0
tabulate==0.8.10
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-datasets==4.6.0
tensorflow-hub==0.12.0
tensorflow-macos==2.8.0
tensorflow-metadata==1.10.0
tensorflow-text==2.8.2
termcolor==2.0.1
tf-estimator-nightly==2.8.0.dev2021122109
toml==0.10.2
tomlkit==0.11.4
toolz==0.12.0
tqdm==4.64.0
typing_extensions==4.3.0
urllib3==1.26.11
vine==5.0.0
virtualenv==20.16.3
virtualenv-clone==0.5.7
voluptuous==0.13.1
wcwidth==0.2.5
Werkzeug==2.2.2
wheel==0.37.1
wrapt==1.14.1
yarl==1.8.1
zc.lockfile==2.0
zipp==3.8.1